/* GLOBAL VARIABLES: */
:root {
  /* Fonts: */
  --inter-font: "Inter", sans-serif;
  --rubik-font: "Rubik", sans-serif;
  --segoe-ui-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --gabarito-font: "Gabarito", sans-serif;
  --source-sans-3-font: "Source Sans 3", sans-serif;
  --geologica-font: "Geologica", sans-serif;

  /* Colours: */
  --main-accent: #188AEF;
  --grey-accent: #252525;
  --dark-grey-accent: #111111;
}





/* GENERAL STYLING: ----------------------------------------------------------*/
/* Styling that is independent of viewport size. This can be overwritten in the 
   viewport-size specific styling! */



/* APP STYLING: Styling for the website in general */

/* Defines the general styling for the entire website */
.App {
  font-family: var(--segoe-ui-font);
  background-color: #191919;
}

/* Defines the link color for the entire website */
::selection {
  color: white;
  background-color: #146ebd;
}



/* HEADER STYLING: Styling for the site header */

/* Defines the grid layout and visual styling of the site header */
#site-header {
  display: grid;
  grid-template-rows: minmax(90vh, max-content) minmax(min-content, 10vh);
  align-items: center;
  justify-content: center;
  background-color: var(--main-accent);
}

/* Container for the content of the site header.
   Defines the grid styling and layout of the content */
#hero-content {
  display: grid;
  grid-template-rows: min-content auto;
  justify-content: center;
  margin-top: 6vh;
}

/* Layout and text styling for the large header text */
#hero-title {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 800;
  font-family: var(--inter-font);
  text-align: center;
}

/* This styling is used when the viewport width is too small to display the
   full-width title. */
.hero-title-split {
  margin-top: 0.15em;
  margin-bottom: 0px;
  font-weight: 800;
  font-family: var(--inter-font);
  text-align: center;
}

/* Layout for the "tags" below the main title text */
#hero-tags {
  display: grid;
  grid-template-columns: max-content max-content max-content max-content max-content;
  justify-content: center;
  column-gap: 16px;
}

/* Defines the layout and font styling for the "tags" below the main title text */
#hero-tags p {
  margin-bottom: 0px;
  margin-top: 0px;
  font-family: var(--rubik-font);
  font-size: 25pt;
  font-weight: 500;
}

/* Centers the scroll indicator */
#scroll-indicator {
  justify-content: center;
  margin: auto;
}

/* Aligns the text within the container and styles the text */
#scroll-indicator p {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  font-weight: 500;
  font-family: var(--geologica-font);
}

/* Animation for the scroll indicator bounce */
/* source: https://codepen.io/nelledejones/pen/gOOPWrK */
@keyframes bounce2 {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}

/* Makes the scroll indicator bounce */
.scroll-indicator-animation {
  animation: bounce2 2s ease infinite;
}



/* SECTION HEADERS: Styling for the headers for each section of the webpage */

/* Header styling for section headers */
.section-header {
  font-family: var(--inter-font);
  font-weight: 600;
  margin: 1.25em 0px 0.58em 0px;
  text-align: center;
}



/* WHO SECTION: */

/* Defines the two-column layout for the "who" section */
#who-container {
  display: grid;
  justify-content: center;
  align-content: center;
}

/* Defines the width and the alignment for the captions in the "who" section */
#who-captions {
  align-content: center;
}

/* Defines the visual styling and layout for the "who" captions */
.who-caption {
  font-weight: 600;
}



/* IMAGE STACK: Layout and visual styling for the stack of images in the "who section*/
/* Source: https://bricampgomez.com/blog/how-to-overlap-images-in-css/ */

/* Defines a grid layout for the images to be laid out in. This is purposely 
   done in a way so that the images will overlap each other. */
#image-stack {
  display: grid;
  justify-content: center;
  align-content: center;
  opacity: 0%;
}

/* Styling for the images within the stack */
#image-stack img {
  border-radius: 18px;
  border: 3px solid #202020;
}

/* Styling for the hero image that only appears when the viewport width
   is less than 285px. */

/* Image Stack Animations: these trigger once per page load */
.image-animation {
  animation: ImageAnimation 700ms ease-out 1;
}
.image-stack-opacity-animation {
  animation: ImageStackAnimation 700ms ease-out forwards;
}

/* Animation for image stack images */
@keyframes ImageAnimation {
	0% {
    /* opacity: 30%; */
    transform: translateX(-10%);
  }

  100% {
    /* opacity: 100%; */
    transform: translateX(0%);
  }
}
@keyframes ImageStackAnimation {
  0% {
    opacity: 40%;
  }

  100% {
    opacity: 100%;
  }
}


/* STRENGTHS SECTION: */

/* Defines the layout for the strengths section */
#strengths-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  padding: 20px;
  margin: auto;
}

/* Defines the styling for each card in the strengths grid */
.strength-card {
  padding: 20px;
  background-color: var(--main-accent);
  border-radius: 18px;
  border: 3px solid rgb(21, 30, 39);
}

/* Visual styling for the header for each card in the strengths grid */
.strength-card h1 {
  font-family: var(--geologica-font);
  font-weight: 700;
}

/* Visual styling for the paragraph text in the strengths cards */
.strength-card p {
  font-weight: 400;
}



/* LOCATION SECTION: */

/* Defines the two-column layout for the location section */
#location-grid {
  display: grid;
  grid-template-columns: min-content max-content;
  justify-content: center;
  align-content: center;
}

/* Styling for the map in the location section */
#location-grid iframe {
  border-radius: 18px;
  border: 3px solid #303030;
  margin: auto;
}

/* Defines the layout for the location caption container */
#location-captions {
  margin: auto;
  align-content: center;
}

/* Defines the layout for each caption in the location section */
.location-caption {
  padding: 2px 15px;
  font-weight: 600;
}

/* Alters the line height of the captions */
.location-caption p {
  line-height: 1.75em;
}



/* SKILLS & QUALIFICATIONS SECTION: */


/* Defines the grid layout for the skills and qualifications */
#skills-qualifs-grid {
  display: grid;
  margin-left: auto;
  margin-right: auto;
}

/* Defines the layout and visual styling for the skills-qualifications cards */
.skills-qualifications-card {
  display: grid;
  align-content: center;
  margin: 12px;
  border-radius: 18px;
  background-color: var(--grey-accent);  
  contain: layout;
  width: auto;
}

/* Visual styling for the SQ card header */
.skills-qualifications-card h1 {
  max-width: 18em;
  font-family: var(--rubik-font);
  font-weight: 500;
  margin: auto;
  text-align: center;
}

/* Styling for the SQ card close button */
.skills-qualifications-card button {
  display: none;
  position: absolute;
  inset-block-start: 0;
  inset-inline-end: 0;
  border: 0;
  background: none;
  color: white;
  font-size: 20pt;
  padding: 0.66em 1em;
}

/* Styling for when the close button is hovered over by the mouse cursor */
.skills-qualifications-card button:hover {
  transform: scale(1.1);
  color: red;
  font-weight: 600;
}

/* Defines the layout for the SQ card close button */
.skills-qualifications-card.featured button {
  display: block;
  cursor: pointer;
}

/* Hover styling for the non-featured SQ cards */
.skills-qualifications-card:not(.featured):hover {
  transform: scale(1.033);
  cursor: pointer;
  background-color: var(--main-accent);
  transition: all 200ms ease-in-out;
}

/* Forces the featured SQ card to the top of the grid and applies styling*/
.skills-qualifications-card.featured {
  background-color: var(--main-accent);
  transform: scale(1.02);
}

/* defines the layout of the featured SQ card */
.skills-qualifications-card.featured div {
  justify-content: center;
  align-content: center;
}

/* When featured, the content is revealed */
.skills-qualifications-card.featured .SQContent {
  display: block;
}

/* Layout and styling for the header of the featured SQ card */
.skills-qualifications-card.featured h1 {
  max-width: none;
}

/* When not featured the content of the SQ card is hidden */
.SQContent {
  display: none;
  margin: auto 2em
}

/* Adds a margin to the top of the list of programming languages */
#programming-languages {
  margin-top: 15px;
}

/* Removes the default margin from the list of programming languages*/
#programming-languages ul {
  margin: 0px;
}



/* EXPERIENCE & PROJECTS SECTION: */

/* Defnies the grid layout for the Experience and Projects section */
#EP-grid {
  width: fit-content;
  height: fit-content;
  display: grid;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  /* background-color: #272727; */
  /* border: 2px solid #202020; */
  border-radius: 18px;
  padding: 30px
}

/* Defines the layout of the list of Experience and Projects cards */
#EP-list {
  padding: 10px 0px;
  width: max-content;
}

/* Defines the layout and visual styling for the EP cards */
.EP-item {
  padding: 10px;
  background-color: var(--grey-accent);
  border-radius: 18px;
}

/* Font style for the EP item headers */
.EP-item h1 {
  font-weight: 600;
}

/* EP items not currently featured will have a hover effect */
.EP-item:not(.featured):hover {
  transform: scale(1.033);
  cursor: pointer;
  transition: all 100ms ease-in-out;
  background-color: var(--main-accent);
}

/* Featured EP items have a default cursor */
.EP-item.featured:hover {
  cursor: default;
}

/* Defines the styling for the EP card headers */
.EP-item h1 {
  text-align: center;
  margin: auto;
  width: fit-content;
  max-width: 40vw;
  padding: 10px 20px;
  word-wrap: break-word;
  font-family: var(--rubik-font);
}

.EP-item p {
  display: none;  /* Hide the text when its shown in the list */
}

.EP-item-body {
  display: none;  /* Hide any content in the body */
}

/* Highlights the featured EP item */
.EP-item.featured {
  background-color: var(--main-accent);
}

/* Defines the layout for the Experience and Project viewer section */
#EP-viewer {
  background-color: var(--grey-accent);
  border: 2px solid #1f1f1f;
  border-radius: 18px;
  padding: 30px;
  align-content: center;
  contain: layout;
}

/* Defines the layout and styling for the EP viewer placeholder, which appears
   when no EP item is featured */
#EP-viewer-placeholder {
  justify-content: center;
  align-content: center;
  text-align: center;
  font-weight: 700;
  height: 18vh;
}

/* Hides the EP viewer placeholder when this class is applied */
.hide-EPV-placeholder {
  display: none;
}

/* Defines layout and styling for the EP viewer close button */
#EP-viewer button {
  display: none;
  position: absolute;
  inset-block-start: 0;
  inset-inline-end: 0;
  border: 0;
  background: none;
  color: white;
  font-size: 20pt;
  padding: 0.5em 0.75em;
}

/* Defines hover styling for the EP viewer close button */
#EP-viewer button:hover {
  transform: scale(1.1);
  color: red;
  font-weight: 600;
}

/* Removes link styling from the a-tag within the EP viewer */
#EP-viewer a {
  text-decoration: none;
}

/* Defines visual styling for the EP viewer title */
#EP-viewer-title {
  font-family: var(--rubik-font);
  font-weight: 700;
  margin: 0px 0px 0.7em 0px;
}

/* Defines visual styling for the content of the EP viewer */
#EP-viewer-body p {
  line-height: 1.65em;
}

/* Defines visual styling and layout for lists in the EP viewer */
#EP-viewer-body li {
  font-size: 16pt;
  padding: 7px 0px;
}

/* Defines visual styling and layout for the repository button, which appears 
   when the link and link title are included in the EP item card. */
.repo-button {
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: center;
  align-content: center;
  width: min-content;
  background-color: #24292e;
  color: #fafbfc;
  border-radius: 10px;
  text-wrap: nowrap;
  padding: 8px 13px;
  margin: 35px auto 0px auto;
  border: 2px solid #222327;
  font-size: 15pt;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Defines the layout for the image within the repository button */
.repo-button img {
  width: 15pt;
  height: auto;
  margin: auto;
  padding: 0px 0.8em 0px 0px;
}

/* Adds a GitHub themed hover effect to the repository button */
.repo-button:hover {
  box-shadow: 1px 2px rgba(45,186,78, 0.7);
  transition: all 250ms ease-in-out;
  border: 2px solid #24292e;
}



/* RESUME & SOCIALS SECTION: */

/* Defines the layout for the resume (and socials) container */
#resume-container {
  margin: 0px auto;
  padding: 50px 0px;
  width: max-content;
  min-height: 35vh;
  display: grid;
  align-content: center;
  justify-content: center;
  background-color: var(--dark-grey-accent);
  width: 100%;
}

/* Defines the visual styling for the headers within the resume container */
#resume-container h1 {
  font-family: var(--geologica-font);
  font-weight: 500;
  text-align: center;
  text-wrap: nowrap;
}

/* Removes the link styling from the a-tags within the resume container */
#resume-container a {
  text-decoration: none;
}

/* Centers the resume button */
#resume-link {
  margin: auto;
}

/* Defines visual styling and layout for the resume download button */
#resume-download-button {
  display: grid;
  grid-template-columns: min-content min-content;
  justify-content: center;
  align-content: center;
  width: min-content;
  background-color: #24292e;  /* TEMPORARY! */
  color: white;
  border-radius: 18px;
  text-wrap: nowrap;
  padding: 13px 22px;
  margin: 6px auto;
  font-family: var(--gabarito-font);
  font-weight: 400;
  font-style: normal;
}

/* Adds a hover effect to the resume download button */
#resume-download-button:hover {
  transform: scale(1.005);
  box-shadow: 1px 2px #05afff;
  transition: all 250ms ease-in-out;
}

/* Centers and sets the size of the download icon within the resume download button */
#download-icon {
  width: 20pt;
  height: auto;
  margin: auto 12px auto 0px;
}

/* Centers the social media links within the socials container*/
#socials-content {
  margin: auto;
}

/* Defines the layout of the social media links */
#socials-links {
  display: grid;
  justify-content: center;
}

/* Defines the layout and visual styling of the social media buttons */
.social-button {
  display: grid;
  grid-template-columns: min-content min-content;
  justify-content: center;
  align-content: center;
  width: min-content;
  border-radius: 18px;
  text-wrap: nowrap;
  padding: 8px 22px;
  font-family: var(--gabarito-font);
  font-weight: 400;
  font-style: normal;
}

/* Sets the size and layout for the social media icons within the buttons */
.social-icon {
  width: 16pt;
  height: auto;
  margin: auto 12px auto 0px;
}

/* Defines the visual styling for the LinkedIn button */
#linkedin {
  color: white;
  background-color: #0a66c2;
}

/* Adds a LinkedIn-themed hover effect to the LinkedIn button */
#linkedin:hover {
  box-shadow: 1px 2px rgba(256, 256, 256, 0.7);
  transition: all 250ms ease-in-out;
}

/* Defines the visual styling for the GitHub button */
#github {
  color: #fafbfc;
  background-color: #24292e;
}

/* Adds a GitHub-themed hover effect to the GitHub button */
#github:hover {
  box-shadow: 1px 2px rgba(45,186,78, 0.7);
  transition: all 250ms ease-in-out;
}

/* Defines the visual styling for the Twitter button */
#twitter {
  color: white;
  background-color: #1DA1F2;
}

/* Adds a Twitter-themed hover effect to the Twitter button */
#twitter:hover {
  box-shadow: 1px 2px rgba(256, 256, 256, 0.7);
  transition: all 250ms ease-in-out;
}



/* SITE FOOTER: */

/* Sets the visual styling and layout for the site footer */
#site-footer {
  background-color: #0a0a0a;
  padding: 20px;
}

/* Defines the look of the text within the site footer */
#site-footer p {
  color: white;
  margin: 1em auto;
  text-align: center;
}






/* RESPONSIVE STYLING USING @media BREAKPOINTS: ------------------------------*/
/* source: https://www.w3schools.com/howto/howto_css_media_query_breakpoints.asp */

/* Smallest devices */
@media only screen and (max-width: 450px) {

  /* HEADER STYLING: */
  #hero-title {
    display: none;
  }
  
  .hero-title-split {
    display: block;
    font-size: 12vw;
  }

  #hero-tags {
    display: block;
    margin-top: 3em;
  }

  #hero-tags p {
    text-align: center;
    font-size: 4.5vw;
  }

  #scroll-indicator p {
    font-size: 4vw;
  }


  /* SECTION HEADERS: */
  .section-header {
    font-size: 12vw;
  }


  /* WHO SECTION: */
  #who-container {
    grid-template-columns: none;
    grid-template-rows: min-content max-content;
    gap: 30px;
  }

  #who-captions {
    max-width: 80vw;
    justify-content: center;
  }

  .who-caption {
    padding: 0px 0px;
    line-height: 1.5em;
    font-size: 5vw;
  }


  /* IMAGE STACK: */
  #image-stack {
    grid-template-columns: repeat(12, 20px);
  }

  #image-stack img {
    max-width: 120px;
    height: auto;
  }

  /* Image Stack Images: defines the layout of each image within the grid (the "stack")*/
  #image-stack-image-one {
    grid-column: 1 / -1;
    grid-row: 1;
  }
  #image-stack-image-two {
    grid-column: 7 / -1;
    grid-row: 1;
    padding-top: calc(40px * 0.85);
  }
  #image-stack-image-three {
    grid-column: 1 / 9;
    grid-row: 1;
    padding-top: calc((140px) * 0.85);
    padding-left: 1.5em;
    z-index: 1;
  }

  #hero-image {
    display: none;
  }


  /* STRENGTHS SECTION: */
  #strengths-grid {
    grid-template-columns: none;
    grid-template-rows: auto auto auto;
    width: 80vw;
    gap: 1.25em;
  }

  .strength-card {
    max-width: 100%;
  }

  .strength-card h1 {
    font-size: 7vw;
  }

  .strength-card p {
    font-size: 5vw;
  }


  /* LOCATION SECTION: */
  #location-grid {
    margin: 0px auto;
    grid-template-columns: none;
    grid-template-rows: max-content max-content;
    gap: 25px;
  }

  #location-grid iframe {
    width: 80vw;
    height: 50vh;
  }

  #location-captions {
    max-width: 77vw;
  }

  .location-caption p {
    font-size: 5vw;
  }


  /* SKILLS & QUALIFICATIONS SECTION: */
  #skills-qualifs-grid {
    max-width: 90%;
    align-content: center;
    margin: auto;
  }

  .skills-qualifications-card {
    padding: 25px 15px;
    margin: 6px 0px;
  }

  .skills-qualifications-card h1 {
    text-align: left;
    font-size: 6vw;
  }

  .skills-qualifications-card.featured h1 {
    width: 70%;
    padding: 0px 30px;
    font-size: 7vw;
  }

  .skills-qualifications-card.featured p {
    font-size: 6vw;
  }

  .skills-qualifications-card.featured button {
    display: block;
    padding: 10px
  }

  .SQContent {
    margin: 0px 0.5em;
  }


  /* EXPERIENCE & PROJECTS SECTION: */
  #EP-grid {
    grid-template-columns: none;
    grid-template-rows: max-content max-content;
    padding: 0px;
    margin: 30px auto;
  }

  #EP-list {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(1em, 1fr));
    width: 80vw;
    margin: 0px auto;
    padding: 0px;;
  }

  .EP-item {
    margin: 0px 0px 20px 0px;
    width: 75vw;
  }

  #EP-viewer {
    grid-row: -1;
    width: 70vw;
  }

  .EP-item h1 {
    font-size: 7vw;
    max-width: none;
  }

  #EP-viewer-placeholder {
    font-size: 7vw;
  }

  #EP-viewer-title {
    font-size: 18pt;
    max-width: 50vw;
  }

  #EP-viewer-body p {
    font-size: 12pt;
  }

  #EP-viewer-body li {
    font-size: 12pt;
  }

  .repo-button {
    font-size: 4.5vw;
  }

  .repo-button img {
    width: 4.5vw;
  }


  /* RESUME & SOCIALS SECTION: */
  #resume-container {
    grid-template-columns: none;
    grid-template-rows: max-content max-content;
    gap: 2em;
  }
  
  #resume-container h1 {
    font-size: 18pt;
    text-wrap: wrap;
  }

  #resume-download-button {
    font-size: 16pt;
  }

  .social-button {
    font-size: 16pt;
    margin: 0px auto;
  }

  #socials-links {
    grid-template-columns: none;
    grid-template-rows: repeat(3, min-content);
    gap: 1em;
    align-content: center;
  }


  /* SITE FOOTER: */
  #site-footer p {
    font-size: 12pt
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 451px) {  

  /* HEADER STYLING: */
  #hero-title {
    display: none;
  }
  
  .hero-title-split {
    display: block;
    font-size: 12vw;
  }

  #hero-tags {
    display: block;
    margin-top: 3em;
  }

  #hero-tags p {
    text-align: center;
    font-size: 4.5vw;
  }

  #scroll-indicator p {
    font-size: 4vw;
  }


  /* SECTION HEADERS: */
  .section-header {
    font-size: 35pt;
    padding: 0px 30px;
  }


  /* WHO SECTION: */
  #who-container {
    grid-template-columns: none;
    grid-template-rows: min-content max-content;
    gap: 30px;
  }

  #who-captions {
    max-width: 80vw;
    justify-content: center;
  }

  .who-caption {
    padding: 0px 0px;
    line-height: 1.5em;
    font-size: 15pt;
  }


  /* IMAGE STACK: */
  #image-stack {
    grid-template-columns: repeat(16, 20px);
  }

  #image-stack img {
    max-width: 165px;
    height: auto;
  }

  /* Image Stack Images: defines the layout of each image within the grid (the "stack")*/
  #image-stack-image-one {
    grid-column: 1 / -1;
    grid-row: 1;
  }
  #image-stack-image-two {
    grid-column: 9 / -1;
    grid-row: 1;
    padding-top: calc(65px * 0.85);
  }
  #image-stack-image-three {
    grid-column: 1 / 9;
    grid-row: 1;
    padding-top: calc((180px) * 0.85);
    padding-left: 1.5em;
    z-index: 1;
  }

  #hero-image {
    display: none;
  }


  /* STRENGTHS SECTION: */
  #strengths-grid {
    grid-template-columns: none;
    grid-template-rows: auto auto auto;
    width: 80vw;
    gap: 1.25em;
  }

  .strength-card {
    max-width: 100%;
  }

  .strength-card h1 {
    font-size: 21pt;
  }

  .strength-card p {
    font-size: 17pt;
  }


  /* LOCATION SECTION: */
  #location-grid {
    margin: 0px auto;
    grid-template-columns: none;
    grid-template-rows: max-content max-content;
    gap: 25px;
  }

  #location-grid iframe {
    width: 80vw;
    height: 50vh;
  }

  #location-captions {
    max-width: 77vw;
  }

  .location-caption p {
    font-size: 12pt;
  }


  /* SKILLS & QUALIFICATIONS SECTION: */
  #skills-qualifs-grid {
    max-width: 80vw;
  }

  .skills-qualifications-card {
    padding: 25px 15px;
  }

  .skills-qualifications-card.featured h1 {
    width: 70%;
    font-size: 18pt;
  }

  .SQContent {
    margin: 0px 0.5em;
  }


  /* EXPERIENCE & PROJECTS SECTION: */
  #EP-grid {
    grid-template-columns: none;
    grid-template-rows: max-content max-content;
  }

  #EP-list {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(1em, 1fr));
    width: 100%;
    margin: 0px auto;
    padding: 0px;;
  }

  .EP-item {
    margin: 0px 0px 20px 0px;
  }

  #EP-viewer {
    grid-row: -1;
    width: 70vw;
  }

  .EP-item h1 {
    font-size: 24pt;
    max-width: none;
  }

  #EP-viewer-placeholder {
    font-size: 25pt;
  }

  #EP-viewer-title {
    font-size: 24pt;
  }

  #EP-viewer-body p {
    font-size: 14pt;
  }
  
  #EP-viewer-body li {
    font-size: 14pt;
  }


  /* RESUME & SOCIALS SECTION: */
  #resume-container {
    grid-template-columns: none;
    grid-template-rows: max-content max-content;
    gap: 2em;
  }
  
  #resume-container h1 {
    font-size: 18pt;
  }

  #resume-download-button {
    font-size: 16pt;
  }

  .social-button {
    font-size: 16pt;
    margin: 0px auto;
  }

  #socials-links {
    grid-template-columns: none;
    grid-template-rows: repeat(3, min-content);
    gap: 1em;
    align-content: center;
  }


  /* SITE FOOTER: */
  #site-footer p {
    font-size: 13pt
  }

}

/* Small devices (portrait tablets and large phones, 601px and up) */
@media only screen and (min-width: 621px) {

  /* HEADER STYLING: */
  .hero-title-split {
    display: block;
    font-size: 11vw;
  }

  #hero-tags {
    display: block;
    margin-top: 4em;
  }

  #hero-tags p {
    text-align: center;
    font-size: 3.5vw;
  }

  #scroll-indicator p {
    font-size: 18pt;
  }


  /* SECTION HEADERS: */


  /* WHO SECTION: */
  #who-captions {
    max-width: 80vw;
  }

  .who-caption {
    padding: 0px 15px;
    line-height: 1.5em;
    font-size: 16pt;
  }


  /* IMAGE STACK: */
  #image-stack {
    grid-template-columns: repeat(27, 20px);
  }

  #image-stack img {
    max-width: 275px;
    height: auto;
  }

  /* Image Stack Images: defines the layout of each image within the grid (the "stack")*/
  #image-stack-image-one {
    grid-column: 1 / -1;
    grid-row: 1;
  }
  #image-stack-image-two {
    grid-column: 14 / -1;
    grid-row: 1;
    padding-top: calc(125px * 0.85);
  }
  #image-stack-image-three {
    grid-column: 1 / 12;
    grid-row: 1;
    padding-top: calc((315px) * 0.85);
    padding-left: 1.5em;
    z-index: 1;
  }


  /* STRENGTHS SECTION: */


  /* LOCATION SECTION: */
  #location-grid {
    margin: 0px auto;
    grid-template-columns: none;
    grid-template-rows: max-content max-content;
    gap: 25px;
  }

  #location-grid iframe {
    width: 80vw;
    height: 50vh;
    min-height: 50vw;
  }

  #location-captions {
    max-width: 77vw;
  }

  .location-caption p {
    font-size: 14pt;
  }


  /* SKILLS & QUALIFICATIONS SECTION: */


  /* EXPERIENCE & PROJECTS SECTION: */


  /* RESUME & SOCIALS SECTION: */
  #resume-container {
    grid-template-columns: none;
    grid-template-rows: max-content max-content;
    gap: 2em;
  }
  
  #resume-container h1 {
    font-size: 24pt;
  }

  #resume-download-button {
    font-size: 20pt;
  }

  #socials-links {
    grid-template-columns: repeat(3, min-content);
    gap: 1.5em;
  }

  .social-button {
    font-size: 16pt;
  }


  /* SITE FOOTER: */
  #site-footer p {
    font-size: 15pt;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  /* HEADER STYLING: */


  /* SECTION HEADERS: */
  .section-header {
    font-size: 45pt;
  }


  /* WHO SECTION: */


  /* IMAGE STACK: */


  /* STRENGTHS SECTION: */


  /* LOCATION SECTION: */
  .location-caption p {
    font-size: 15pt;
  }


  /* SKILLS & QUALIFICATIONS SECTION: */
  .skills-qualifications-card.featured h1 {
    width: 80%;
    font-size: 18pt;
  }

  .SQContent {
    font-size: 16pt;
  }


  /* EXPERIENCE & PROJECTS SECTION: */
  #EP-viewer-placeholder {
    font-size: 28pt;
  }


  /* RESUME & SOCIALS SECTION: */


  /* SITE FOOTER: */

}

/* Large devices (laptops/desktops, 1050px and up) */
@media only screen and (min-width: 1050px) {

  /* HEADER STYLING: */
  #hero-title {
    font-size: 60pt;
    display: block;
  }

  .hero-title-split {
    display: none;
  }

  #hero-tags {
    margin-top: 45px;
    display: grid;
    text-align: start;
  }

  #hero-tags p {
    font-size: 20pt;
  }


  /* SECTION HEADERS: */
  .section-header {
    font-size: 50pt;
  }

  /* WHO SECTION: */
  .who-caption {
    font-size: 18pt;
  }


  /* IMAGE STACK: */
  #image-stack {
    grid-template-columns: repeat(35, 20px);
  }

  #image-stack img {
    max-width: 350px;
    height: auto;
  }

  /* Image Stack Images: defines the layout of each image within the grid (the "stack")*/
  #image-stack-image-one {
    grid-column: 1 / -1;
    grid-row: 1;
  }
  #image-stack-image-two {
    grid-column: 18 / -1;
    grid-row: 1;
    padding-top: calc(175px * 0.85);
  }
  #image-stack-image-three {
    grid-column: 1 / 12;
    grid-row: 1;
    padding-top: calc((415px) * 0.85);
    padding-left: 1.5em;
    z-index: 1;
  }


  /* STRENGTHS SECTION: */
  #strengths-grid {
    grid-template-columns: none;
    grid-template-rows: auto auto auto;
  }


  /* LOCATION SECTION: */
  .location-caption p {
    font-size: 16pt;
  }


  /* SKILLS & QUALIFICATIONS SECTION: */
  #skills-qualifs-grid {
    grid-template-columns: repeat(auto-fit, minmax(min(100%, max(10rem, 100%/2)), 1fr));
  }

  .skills-qualifications-card {
    padding: 50px 25px;
  }

  .skills-qualifications-card.featured {
    order: -1;
    grid-column: 1 / -1;
  }

  .skills-qualifications-card.featured h1 {
    width: auto;
    font-size: 22pt;
  }


  /* EXPERIENCE & PROJECTS SECTION: */
  .EP-item h1 {
    font-size: 24pt;
  }

  #EP-viewer-placeholder {
    font-size: 28pt;
  }


  /* RESUME & SOCIALS SECTION: */
  #resume-container {
    grid-template-columns: max-content max-content;
    grid-template-rows: none;
    column-gap: 3em;
  }
  
  #resume-container h1 {
    font-size: 24pt;
  }

  #resume-download-button {
    font-size: 20pt;
  }

  .social-button {
    font-size: 16pt;
  }

  /* SITE FOOTER: */

}

/* Even larger devices (laptops and desktops, 1250px and up) */
@media only screen and (min-width: 1275px) {
  
  /* HEADER STYLING: */
  #hero-title {
    font-size: 75pt;
  }

  #hero-tags {
    margin-top: 65px;
  }

  #hero-tags p {
    font-size: 25pt;
  }


  /* SECTION HEADERS: */
  .section-header {
    font-size: 65pt;
  }


  /* WHO SECTION: */
  #who-container {
    grid-template-columns: min-content max-content;
    grid-template-rows: none;
    gap: 30px;
  }

  #who-captions {
    max-width: 30vw;
  }

  .who-caption {
    padding: 10px 15px;
    font-size: 22pt;
  }


  /* IMAGE STACK: */
  #image-stack {
    width: fit-content;
    margin-right: 150px;
    grid-template-columns: repeat(24, 18px);
  }

  #image-stack img {
    max-width: 300px;
    height: auto;
  }

  /* Image Stack Images: defines the layout of each image within the grid (the "stack")*/
  #image-stack-image-one {
    grid-column: 1 / -1;
    grid-row: 1;
  }
  #image-stack-image-two {
    grid-column: 8 / -1;
    grid-row: 1;
    padding-top: calc(300px * 0.85);
  }
  #image-stack-image-three {
    grid-column: 1 / span 12;
    grid-row: 1;
    padding-top: calc((403px + 300px) * 0.85);
    padding-left: 1.5em;
    z-index: 1;
  }


  /* STRENGTHS SECTION: */
  #strengths-grid {
    grid-template-columns: auto auto auto;
    grid-template-rows: none;
    width: 85vw;
  }

  .strength-card {
    max-width: 32em;
  }

  .strength-card h1 {
    font-size: 21pt;
  }

  .strength-card p {
    font-size: 17pt;
  }


  /* LOCATION SECTION: */
  #location-grid {
    margin: 0px auto;
    grid-template-columns: min-content auto;
    grid-template-rows: none;
    gap: 70px;
  }

  #location-grid iframe {
    width: 650px;
    height: 100%;
    min-height: auto;
  }

  #location-captions {
    max-width: 25vw;
  }

  .location-caption p {
    font-size: 18pt;
  }


  /* SKILLS & QUALIFICATIONS SECTION: */
  #skills-qualifs-grid {
    grid-template-columns: repeat(auto-fit, minmax(min(100%, max(10rem, 100%/3)), 1fr));
    max-width: 70vw;
  }
  
  .skills-qualifications-card h1 {
    font-size: 22pt;
  }

  .skills-qualifications-card.featured div {
    display: grid;
    grid-template-columns: 33.3% 66.6%;
  }

  .skills-qualifications-card.featured h1 {
    font-size: 24pt;
  }

  .SQContent {
    font-size: 20pt;
  }


  /* EXPERIENCE & PROJECTS SECTION: */
  #EP-grid {
    grid-template-columns: max-content max-content;
    grid-template-rows: none;
    column-gap: 30px;
  }

  #EP-list {
    display: block;
    width: max-content
  }

  #EP-viewer {
    grid-column: 2;
    width: 43vw;
    margin: 10px 0px;
  }

  .EP-item {
    margin: 20px auto;
  }

  .EP-item h1 {
    font-size: 24pt;
  }

  .EP-item.EP-item.featured {
    transform: scale(1.033);
  }

  #EP-viewer-placeholder {
    font-size: 28pt;
  }

  #EP-viewer-title {
    font-size: 28pt;
  }

  #EP-viewer-body p {
    font-size: 15pt;
  }
  
  #EP-viewer-body li {
    font-size: 15pt;
  }


  /* RESUME & SOCIALS SECTION: */
  #resume-container {
    grid-template-columns: max-content max-content;
    grid-template-rows: none;
    column-gap: 5em;
  }
  
  #resume-container h1 {
    font-size: 26pt;
  }

  #resume-download-button {
    font-size: 22pt;
  }

  .social-button {
    font-size: 18pt;
  }

  /* SITE FOOTER: */

}

/* Very large devices (laptops/desktops), 1850px and up */
@media only screen and (min-width: 1850px) {
  
  /* HEADER STYLING: */
  #hero-title {
    font-size: 90pt;
  }

  #hero-tags {
    margin-top: 75px;
  }

  #hero-tags p {
    font-size: 30pt;
  }


  /* SECTION HEADERS: */
  .section-header {
    font-size: 80pt;
  }


  /* WHO SECTION: */


  /* IMAGE STACK: */


  /* STRENGTHS SECTION: */
  #strengths-grid {
    width: 70%;
  }

  .strength-card {
    max-width: 27em;
  }

  .strength-card h1 {
    font-size: 25pt;
  }

  .strength-card p {
    font-size: 21pt;
  }


  /* LOCATION SECTION: */
  #location-grid iframe {
    width: 750px;
    height: calc(750px * 0.66);
  }

  .location-caption p {
    font-size: 19pt;
  }


  /* SKILLS & QUALIFICATIONS SECTION: */
  #skills-qualifs-grid {
    max-width: 60vw;
  }

  .skills-qualifications-card h1 {
    font-size: 26pt;
  }

  .skills-qualifications-card.featured h1 {
    font-size: 28pt;
  }


  /* EXPERIENCE & PROJECTS SECTION: */
  .EP-item h1 {
    font-size: 30pt;
  }

  #EP-viewer-placeholder {
    font-size: 35pt;
  }

  #EP-viewer-title {
    font-size: 30pt;
  }

  #EP-viewer-body p {
    font-size: 16pt;
  }
  
  #EP-viewer-body li {
    font-size: 16pt;
  }


  /* RESUME & SOCIALS SECTION: */
  #resume-container {
    column-gap: 12em;
  }

  #resume-container h1 {
    font-size: 28pt;
  }

  #resume-download-button {
    font-size: 25pt;
  }

  .social-button {
    font-size: 20pt;
  }


  /* SITE FOOTER: */

}

/* Extra large devices (4k and higher) */
@media only screen and (min-width: 2560px) {

  /* HEADER STYLING: */
  #hero-title {
    font-size: 110pt;
  }


  /* SECTION HEADERS: */
  .section-header {
    font-size: 85pt;
  }

  /* WHO SECTION: */


  /* IMAGE STACK: */


  /* STRENGTHS SECTION: */


  /* LOCATION SECTION: */


  /* SKILLS & QUALIFICATIONS SECTION: */


  /* EXPERIENCE & PROJECTS SECTION: */


  /* RESUME & SOCIALS SECTION: */
  #resume-container {
    column-gap: 14em;
  }

  #resume-container h1 {
    font-size: 32pt;
  }

  #resume-download-button {
    font-size: 28pt;
  }

  .social-button {
    font-size: 22pt;
  }

  /* SITE FOOTER: */
  
}