/* Defines the general styling for the entire website */
.App {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  grid-template-columns: 1fr 15em;
  display: grid;
}

/* Defines the link color for the entire website */
.App-link {
  color: #05afff;
}

.App > .ToC-nav {
  position: sticky;
  top: 2rem;
  align-self: start;
}

/* Defines styling for the <nav> in DynamicToC */
.ToC-nav {
  /* TODO: Finish to fit styling */
}

.ToC-nav li.active > a {
  color: #05afff;
  font-weight: 800;
}

.ToC-nav a {
  text-decoration: none;
  display: block;
  color: white;
  transition: all 50ms ease-in-out;
}

.ToC-nav a:hover, .ToC-nav a:focus {
  color:#05afff
}

.ToC-ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

section {  /* !DEBUG */
  margin-bottom: 40rem;
}

